# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace files
*.log
*.tmp

# Dependency directories
/vendor/

# IDE/editor specific files
.idea/
.vscode/
*.swp

# Gin framework temporary files
gin.log

# PostgreSQL related files
/postgres_data
*.pgdata
*.pgdump

# Pgadmin
/pgadmin_data

# General OS files
.DS_Store
Thumbs.db

# Temporary folders
tmp/
temp/

# Environment files
.env

# Templ
*_templ.go